
<h1> List a new pet </h1>

<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :species %>
  <%= f.input :date_found, as: :date %>
  <%= f.input :img_url %>
  <%= f.submit %>
<% end %>
